body {
    margin: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
}
.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
    color: #fff;
}
.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-header-wrp {
    float: left;
}
.main-header-title {
    margin: 0 0 51px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}
.main-header-list {
    margin: 0;
    list-style-type: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
.main-header-list-item {
    position: relative;
}
.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
    position: absolute;
    top: 6px;
    left: -39px;
}
.main-header-img {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #fff;
    float: right;
    color: black;
}
.about-product {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;    
}
.about-product-wrp {
    width: 55%;
    float: left;
}
.about-product-title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px 0;
}
.about-product-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.about-product-text:last-child {
    margin: 0;
}
.about-product-video {
    display: block;
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}
.dignity {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both; 
}
.dignity-title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 0 29px 0;
}
.dignity-list1 {
    margin: 0;
    width: 46%;
    list-style-type: none;
    float: left;
}
.dignity-list1-item {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 0 35px 0;
}
.dignity-list1-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    background-image: url(../img/plus.png);
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -40px;    
}
.dignity-list2 {
    margin: 0;
    width: 46%;
    list-style-type: none;
    float: right;
}
.dignity-list2-item {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 0 35px 0;
}
.dignity-list2-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    background-image: url(../img/plus.png);
    background-size: contain;
    position: absolute;
    top: 5px;
    left: -40px;    
}
.dignity-list1-item:last-child,
.dignity-list2-item:last-child {
margin: 0;
}
.screenshots {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.screenshots-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 35px 0;
}
.screenshots-item {
    width: 48%;
    margin: 0 0px 30px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
  margin: 0;
} 
.screenshots-item-image {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
    background-color: #445161;
}
.screenshots-item-figcaption {
    width: 62%;
    box-sizing: border-box;

}
.screenshots-item-title {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 15px 0;
}
.screenshots-item-text {
    margin: 0 0 0 0;
    box-sizing: border-box;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.reviews {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color:#f5f5f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.reviews-title {
    display: block;
    text-align: center;
    width: 100%;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 35px 0;

}
.reviews-item {
    width: 48%;
    margin: 0 0px 24px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.reviews-item:nth-child(4) {
    margin: 0 32px 0 0;
}
.reviews-item:nth-child(5) {
    margin: 0 0 0 0;
}
.reviews-item-margin {
    margin: 0 32px 24px 0;
}
.reviews-item-image {
    display: block;
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    margin: 0 26px 0 0;
}
.reviews-item-figcaption {
    width: 483px;
    padding: 16px;
    box-sizing: border-box;
    background-color:#ebebeb;
    border-radius: 10px;
    position: relative;
}
.reviews-item-figcaption:before {
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 23px;
    left: -26px;
}
.reviews-item-text {
    color: #333333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 5px 0;
}
.reviews-item-sign {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.price {
    width: 100%;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.price-title {
    display: block;
    width: 100%;
    margin: 0 0 29px 0;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.price-item {
    width: 30%;
    min-height: 100px;
    margin:  0 45px 0 0;
    padding: 0 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #445161;
    border: 2px solid #445161;
    color: #fff;
}
.price-item:last-child {
    margin: 0;
}
.price-item-title,
.price-item-cost {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.price-item-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding: 17px 0 17px 0;
    text-transform: capitalize;
}
.price-item-cost {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    padding: 18px;
    background-color: #fff;
}
.price-item-list {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin:  20px 38px 20px 20px;
    padding: 0;
    list-style-position: inside;
}
.price-item-btn {
    display: block;
    margin:  0 auto;
    width: 260px;
    min-height: 40px;
    color: #445161;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.price-item-btn:hover {
    background-color: #445161;
    color: #fff;
}
.price-item-btn:active {
    background-color: #fff;
    color: #445161;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1180px;
    background-color: #445161;
    padding: 50px;
}
.footer-title {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px 0;
    text-align: center;
}
.footer-form {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 45px 0 0;
}
.footer-form textarea {
    height: 170px;
}
.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form textarea {
    width: 100%;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #445162;
    border-radius: 5px;
}
.footer-form textarea {}
.footer-form input[type="text"]:hover,
.footer-form input[type="email"]:hover,
.footer-form textarea:hover {
    background-color: #f5f5f5;
}
input[placeholder],
textarea[placeholder] {
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer-form input[type="submit"] {
    width: 140px;
    height: 40px;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #445162;
    border-radius: 5px;
}
.footer-form input[type="submit"]:hover {
    background-color: #445162;
    border-color: white;
    color: white;
}
.footer-form input[type="submit"]:active {
    background-color: white;
    border-color: white;
    color: #445162;
}
.footer-contacts {
    width: 240px;
}
.footer-contacts-link {
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 30px 0;
    padding: 0 0 0 30px;
    position: relative;
}
.footer-contacts-link:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.footer-contacts-link:nth-of-type(1):before {
    background-image: url(../img/skype_icon.png);
}
.footer-contacts-link:nth-of-type(2):before {
    background-image: url(../img/icq_icon.png);
}
.footer-contacts-link:nth-of-type(3):before {
    background-image: url(../img/email_icon.png);
}
.footer-contacts-link:nth-of-type(4):before {
    background-image: url(../img/phone_icon.png);
}
.footer-social-icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-social-icons-item {
    width: 42px;
    height: 42px;
}
.footer-social-icons-item:nth-of-type(1) {
    background-image: url(../img/soc_twit.png);
}
.footer-social-icons-item:nth-of-type(2) {
    background-image: url(../img/soc_fb.png);
}
.footer-social-icons-item:nth-of-type(3) {
    background-image: url(../img/soc_in.png);
}
.footer-social-icons-item:nth-of-type(4) {
    background-image: url(../img/soc_google.png);
}
.footer-social-icons-item:nth-of-type(5) {
    background-image: url(../img/soc_youtube.png);
}